.navbar-open .navbar-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* background-color: white; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .navbar-open .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
  
  .navbar-open .navbar-nav .nav-link {
    color: #212529;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .navbar-open .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  .pro-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #14a02b;
    margin-right: 10px;
  }
  .name{
    font:normal normal normal 22px/normal worksans-semibold,'work sans',sans-serif;
  }

  /* .nav-right{
    border-left: 1px solid rgba(43, 40, 40, 0.075);
  } */
  .nav-item{
    /* width: 87px;
    height: 24px; */
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
  }
  .circle{
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s,border-color .4s ease 0s,background-color .4s ease 0s, height ease 1.5s, width ease 1.5s;
    height: 50px;
    width: 50px;
  }
  .circle:hover {
    background-color: #fff !important;
  }
  .circle.loaded{
    height:125px;
    width: 125px;
  }
  .navbar{
    padding: 1% !important;
  }
  /* @media (max-width: 768px) {
    img {
      max-width: 100%;
      height: auto;
    }
  } */
  .nav-right{
    border-left: 0.5px solid #9c9c9c;
  }
  .about{
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .about.loaded{
    opacity: 1;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile-image-container {
    width: 50%;
    order: 2;
  }
  
  .profile-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .text-container {
    width: 50%;
    order: 1;
    padding: 0 20px;
  }
  
  
  @media (max-width: 840px) {
    .footer-flex{
      flex-direction: column !important;
      justify-content: start;
    }
    .about.loaded{
      flex-direction: row !important;
      justify-content: center;
    }
    .right-part {
      justify-content: center !important;
    }
    .left-part {
      justify-content: center !important;
      align-items: center !important;
    }
    .dp-div{
      height: 200px !important;
      width: 200px !important;
    }
    .circle{
      height: 100px !important;
      width: 100px !important;
    }
  }